<!DOCTYPE html>
<html>
<head>
<!-- META -->
<title>Bearded F1 Squad</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="Zg-8TN6Jzh3EkjFHpMSUnAoDj9BJEhg0f7SB-DqUKS8" />
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/build/css/main.css">
<!-- JS -->
<script src="/static/jquery/dist/jquery.min.js"></script>
<script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/lodash/lodash.min.js"></script>
<script src="https://use.fontawesome.com/3b80c8e746.js"></script>
<script src="/build/js/main.js"></script>
</head>

<body class="white-text">
<!-- NAV -->
<div id="triangle-topleft">
</div>
<div id="nav-scrollspy" class="navbar transparent navbar-inverse navbar-fixed-top">
   <nav class="navbar-inner container-fluid">
     <div class="container-fluid">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border:none;">
          <i class="fa fa-bars" id="nav-more" aria-hidden="true"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse" style="border:none;box-shadow:none" id="myNavbar">
         <ul class="nav navbar-nav navbar-left">
           <li><a class="nav-link text-center" href="#info">Info</a></li>
           <li><a class="nav-link text-center" href="#team">Team</a></li>
           <li><a class="nav-link text-center" href="#news">News</a></li>
           <li><a class="nav-link text-center" href="#gallery">Gallery</a></li>
           <li><a class="nav-link text-center" href="#contact">Contact</a></li>
         </ul>
       </div>
     </div>
   </nav>
</div>
<!-- LANDING -->
<div class="row bg-main big-box" style="height:100%">
  <!-- MAIN PIC -->
  <div class="col-md-12 main-box" style="overflow:hidden">
    <center>
      <div class="rotate hide-1010">
        <h2>Check out our social media pages for updates!</h2>
      </div>
    </center>
    <center>
        <div class="col-md-3">
          <div class="row" style="margin-top:200px;">
            <div class="hide-1010">
              <a class="btn btn-lg m10 btn-some" style="background:#3B5998" href="https://www.facebook.com/beardedf1"><strong class="some-ico"><i class="fa fa-facebook-square" aria-hidden="true"></i></strong> Facebook</a><br>
              <a class="btn btn-lg m10 btn-some" style="background:#515BD4" href="https://www.instagram.com/beardedf1squad/"><strong class="some-ico"><i class="fa fa-instagram" aria-hidden="true"></i></strong> Instagram</a><br>
              <a class="btn btn-lg m10 btn-some" style="background:#00aced" href="https://twitter.com/beardedf1"><strong class="some-ico"><i class="fa fa-twitter" aria-hidden="true"></i></strong> Twitter</a><br>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="row hide-1010" style="height:130px;display:block;">
            </div>
            <div class="row">
                <h1 style="margin-bottom:0px;font-size:70px" class="font-funny text-center yellow-text">Follow the</h1>
            </div>
            <div class="row" style="margin:0px;padding:0px;">
              <center>
                <img src="/build/img/bf1q_white_rgb_web.png" style="width:100%;min-width:260px;max-width:400px;">
              </center>
            </div>
            <div class="row">
              <!-- <div class="hide-1010 col-md-4 text-center">
                <h2><a class="halo-some" href="#"><i class="fa fa-facebook-square fa-spin-hover" aria-hidden="true"></i></a></h2>
              </div>
              <div class="hide-1010 col-md-4 text-center">
                <h2><a class="halo-some" href="#"><i class="fa fa-instagram fa-spin-hover" aria-hidden="true"></i></a></h2>
              </div>
              <div class="hide-1010 col-md-4 text-center">
                <h2><a class="halo-some" href="#"><i class="fa fa-twitter fa-spin-hover" aria-hidden="true"></i></a></h2>
              </div> -->
              <div class="col-md-12 show-1010">
                <h3>
                  <a class="halo-some" style="background:#3B5998" href="https://www.facebook.com/beardedf1"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                  <a class="halo-some" style="background:#515BD4" href="https://www.instagram.com/beardedf1squad/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a class="halo-some" style="background:#00aced" href="https://twitter.com/beardedf1"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </h3>
              </div>
            </div>
        </div>
    </center>
    <div id="triangle-bottomright" class="hide-1010">
    </div>
  </div>
</div>
<!-- INFO -->
<div class="row bg-gray">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center mega">
      The adventure
    </h1>
    <div class="p20">
    <p id="info">
      Visiting this page you have propably seen our ride on the road or you have picked us up from the social media. We are a group of friends from Finland and we love F1. We want to show our passion to everyone so more people would see whats F1 all about. Please follow us on Facebook, Twitter and Instagram. <strong>And tell your friends!</strong>
    </p>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <center>
      <div class="col-md-4">
        <h1 class="mega text-center">We</h1>
      </div>
      <div class="col-md-4">
        <h1 class="mega-plus text-center"><i class="fa fa-heart-o" aria-hidden="true"></i></h1>
      </div>
      <div class="col-md-4">
        <h1 class="mega text-center">F1</h1>
      </div>
    </center>
  </div>
  <div class="col-md-12">
    <br>
    <br>
    <div id="triangle-bottomright-yellow">
    </div>
  </div>
</div>

<div class="hide-800">
  <div class="row bg-yellow">
    <div class="col-md-12 m20">
      <center>
        <h1 class="font-funny medium-shadow m20" style="margin-bottom:0px;">These are the gentlemen!</h1>
      </center>
    </div>
  </div>
  <div class="row bg-yellow p20" style="box-shadow:none;border:none;">
    <div class="col-md-offset-1 col-md-2">
      <center>
        <h2 class="medium-shadow">Anssi</h2>
        <img class="guy-img" id="guy-img" src="/build/img/guys/anssi.png">
        <button type="button" class="btn btn-md font-funny red-bg-sm" data-toggle="modal" data-target="#myModal-anssi">read</button>
      </center>
    </div>
    <div class="col-md-2">
      <center>
        <h2 class="medium-shadow">Juha</h2>
        <img class="guy-img" id="guy-img" src="/build/img/guys/juha.png">
        <button type="button" class="btn btn-md font-funny red-bg-sm" data-toggle="modal" data-target="#myModal-juha">read</button>
      </center>
    </div>
    <div class="col-md-2">
      <center>
        <h2 class="medium-shadow">Niko</h2>
        <img class="guy-img" id="guy-img" src="/build/img/guys/niko.png">
        <button type="button" class="btn btn-md font-funny red-bg-sm" data-toggle="modal" data-target="#myModal-niko">read</button>
      </center>
    </div>
    <div class="col-md-2">
      <center>
        <h2 class="medium-shadow">Nico</h2>
        <img class="guy-img" id="guy-img" src="/build/img/guys/nico.png">
        <button type="button" class="btn btn-md font-funny red-bg-sm" data-toggle="modal" data-target="#myModal-nico">read</button>
      </center>
    </div>
    <div class="col-md-2">
      <center>
        <h2 class="medium-shadow">Nupa</h2>
        <img class="guy-img" id="guy-img" src="/build/img/guys/mika.png">
        <button type="button" class="btn btn-md font-funny red-bg-sm" data-toggle="modal" data-target="#myModal-mika">read</button>
      </center>
    </div>
  </div>
</div>
<div id="team">
</div>
<div class="show-800">
  <div class="row bg-yellow p30 ">
    <div class="col-md-12 m20">
      <center>
        <h1 class="font-funny medium-shadow m20" style="margin-bottom:0px;">These are the gentlemen!</h1>
      </center>
    </div>
    <div id="myCarousel2" class="carousel slide bg-yellow" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <center class="p10">
            <h1 class="medium-shadow">Anssi</h1>
            <img class="guy-img" id="guy-img" src="/build/img/guys/anssi.png"><br>
            <button type="button" class="btn btn-lg font-funny red-bg" data-toggle="modal" data-target="#myModal-anssi">read</button>
          </center>
        </div>
        <div class="item">
          <center class="p10">
            <h1 class="medium-shadow">Juha</h1>
            <img class="guy-img" id="guy-img" src="/build/img/guys/juha.png"><br>
            <button type="button" class="btn btn-lg font-funny red-bg" data-toggle="modal" data-target="#myModal-juha">read</button>
          </center>
        </div>
        <div class="item">
          <center class="p10">
            <h1 class="medium-shadow">Niko</h1>
            <img class="guy-img" id="guy-img" src="/build/img/guys/niko.png"><br>
            <button type="button" class="btn btn-lg font-funny red-bg" data-toggle="modal" data-target="#myModal-niko">read</button>
          </center>
        </div>
        <div class="item">
          <center class="p10">
            <h1 class="medium-shadow">Nico</h1>
            <img class="guy-img" id="guy-img" src="/build/img/guys/nico.png"><br>
            <button type="button" class="btn btn-lg font-funny red-bg" data-toggle="modal" data-target="#myModal-nico">read</button>
          </center>
        </div>
        <div class="item">
          <center class="p10">
            <h1 class="medium-shadow">Mika</h1>
            <img class="guy-img" id="guy-img" src="/build/img/guys/mika.png"><br>
            <button type="button" class="btn btn-lg font-funny red-bg" data-toggle="modal" data-target="#myModal-mika">read</button>
          </center>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel2" style="background:rgba(0,0,0,0);color:white;font-size:60px;" role="button" data-slide="prev">
        <span class="red-text glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel2" style="background:rgba(0,0,0,0);color:white;font-size:60px;" role="button" data-slide="next">
        <span class="red-text glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="row bg-gray" style="overflow:hidden">
  <div id="triangle-topleft-yellow">
  </div>
  <div class="col-md-6 col-md-offset-3" id="news">
    <h1 class="text-center mega m20">
      The next adventure
    </h1>
    <div class="p20">
      <p id="info" style="text-align:justify">
        Hold your beard for a while. The amazing team of audio visual specialist are currently working on the big reveal. We will be informing everyone soon!
      </p>
      <center>
        <h2 class="text-center mega" style="font-size:30px;margin-top:40px;">
          Meanwhile: Check out the gallery below!
        </h2>
        <h1 class="finger-halo"><i class="fa fa-hand-o-down" aria-hidden="true"></i></h1>
      </center>
    </div>
  </div>
</div>
<!-- GALLERY -->
<div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" id="carousel" role="listbox">
        <h1 class="row-h">Gallery</h1>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" style="background:rgba(0,0,0,0);color:white;font-size:60px;" role="button" data-slide="prev">
        <span class="red-text glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" style="background:rgba(0,0,0,0);color:white;font-size:60px;" role="button" data-slide="next">
        <span class="red-text glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
<!-- CONTACT-->
<div class="row bg-black">
  <div class="col-md-12">
    <br>
    <h1 class="font-funny yellow-text text-center  m20">Send feedback</h1>
  </div>
  <br>
  <div class="m30">
    <div class="col-md-6 col-md-offset-3">
      <h3 style="margin-top:30px;margin-bottom:50px;" class="coda">If you, have seen us or want to meet us or want to support us or if you are Ferrari F1 team employee or for any other reason, please contact us! You can do it by filling the form below.</h3>
      <label id="label-name" class="m5 yellow-text">Name: </label>
      <input id="msg-name" class="form-control custom-form" type="text" placeholder="Your name"/>
      <label id="label-email" class="m5 yellow-text">Email:</label>
      <input id="msg-email" class="form-control custom-form" type="email" placeholder="Your email"/>
      <label id="label-message" class="m5 yellow-text">Message:</label>
      <textarea id="msg-message" class="form-control custom-form" rows="10" type="text" placeholder="Your message"></textarea>
      <br>
      <button class="btn btn-send m20" id="msg-send">Send</button>
      <br>
    </div>
  </div>
</div>
<div class="row p20">
  <center>
    <p class="footer-row">Website engineered and composed by: <strong>Petteri Ponkamo</strong></p>
  </center>
</div>
<!-- Modal anssi -->
<div id="myModal-anssi" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <center>
          <h1>Anssi</h1>
          <h3 class="font-funny">Boat mechanic</h3>
          <img class="guy-img-modal" id="guy-img" src="/build/img/guys/anssi.png"><br>
          <h2 class="p20">"I don't always build something... but when I do, it's loud and somebody is gonna get seriously injured."</h2>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal btn-lg" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal juha -->
<div id="myModal-juha" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <center>
          <h1>Juha</h1>
          <h3 class="font-funny">Journalist</h3>
          <img class="guy-img-modal" id="guy-img" src="/build/img/guys/juha.png"><br>
          <h2 class="p20">"Original squad member. My field in this project is the social media. This is my fifth trip to Formula 1 Grand Prix. Therefore I am the true F1-veteran in this squad. I have been twice in Italy (Monza), once in Belgium (Spa) and once in Hungary (Hungaroring). I truly love the F1 atmosphere, engine sounds of the powerful cars and the smell of gasoline! You can’t explain it – you have to feel it! It’s super awesome to make another F1 trip."</h2>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal btn-lg" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal niko -->
<div id="myModal-niko" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <center>
          <h1>Niko</h1>
          <h3 class="font-funny">Roof builder</h3>
          <img class="guy-img-modal" id="guy-img" src="/build/img/guys/niko.png"><br>
          <h2 class="p20">"Original squad member, full time motorsport enthusiast, Scuderia Ferrari supporter and huge Kimi Räikkönen fan. Everything that runs with gas or diesel deserves a chance - from my opinion. Old cars are close to my heart. This is my third trip to Formula 1 Grand Prix."</h2>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal btn-lg" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal nico -->
<div id="myModal-nico" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <center>
          <h1>Nico</h1>
          <h3 class="font-funny">Industrial electrician</h3>
          <img class="guy-img-modal" id="guy-img" src="/build/img/guys/nico.png"><br>
          <h2 class="p20">"Original squad member and the owner of that small and practical SUV called Ford Excursion. My responsibility is to keep that thing running and to be prepped as far as possible so we can just enjoy our trip and scenery without getting our hands dirty during the journey. I’m a motorsport fan, especially F1 and other open wheelers of course, WRC and WRX. Huge fan of Kimi and therefore Scuderia Ferrari! I´d really love to see Kimi stepping on the highest podium in front of all those Tifosos! Really looking forward to our 3rd trip to Formula 1 GP and hope that both Finns can beat their teammates!"</h2>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal btn-lg" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal mika -->
<div id="myModal-mika" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <center>
          <h1>Nupa</h1>
          <h3 class="font-funny">Photographer</h3>
          <img class="guy-img-modal" id="guy-img" src="/build/img/guys/mika.png"><br>
          <h2 class="p20">"Newbie in squad. I am the man behind the camera (last year also). This year guys decided to kidnap me along. So it's my first trip to Formula 1 Grand Prix. My favorite team is Fittipaldi and favorite driver is Keke Rosberg. It doesn’t matter what I have to shoot... I am a magician with camera."</h2>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal btn-lg" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</body>
<footer>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-99318518-1', 'auto');
    ga('send', 'pageview');
  </script>
</footer>
</html>
