<!DOCTYPE html>
<html>
<head>
<!-- META -->
<title>Bearded F1 Squad</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/build/css/main.css">
<!-- JS -->
<script src="/static/jquery/dist/jquery.min.js"></script>
<script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/lodash/lodash.min.js"></script>
<script src="https://use.fontawesome.com/3b80c8e746.js"></script>
<script src="/build/js/main.js"></script>
</head>

<body class="white-text">
<!-- NAV -->
<div id="triangle-topleft">
</div>
<div id="nav-scrollspy" class="navbar transparent navbar-inverse navbar-fixed-top">
   <nav class="navbar-inner container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><a class="nav-link" href="#">Info</a></li>
      <li><a class="nav-link" href="#">Team</a></li>
      <li><a class="nav-link" href="#">Gallery</a></li>
      <li><a class="nav-link" href="#">Contact</a></li>
    </ul>
   </nav>
</div>
<!-- LANDING -->
<div class="row bg-main big-box">
  <!-- MAIN PIC -->
  <div class="col-md-12 main-box" style="height:100%">
    <center>
      <div class="centered">
        <div class="row">
          <div class="col-md-12">
              <h1 style="margin-bottom:0px;" class="font-funny text-center yellow-text">Follow the</h1>
          </div>
          <div class="col-md-12">
            <center>
              <img src="/build/img/bf1q_white_rgb_web.png" style="width:60%;">
            </center>
          </div>
          <div class="col-md-2 text-center col-md-offset-3">
            <h2><a class="halo-some" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></h2>
          </div>
          <div class="col-md-2 text-center">
            <h2><a class="halo-some" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></h2>
          </div>
          <div class="col-md-2 text-center">
            <h2><a class="halo-some" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></h2>
          </div>
        </div>
      </div>
    </center>
    <div id="triangle-bottomright">
    </div>
  </div>
</div>
<!-- INFO -->
<div class="row bg-gray">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center mega">
      The adventure
    </h1>
    <p>
      Visiting this page you have most propably seen our ride on the road or you have picked us up from social media. We are a group of friends from Finland and we love F1. We want to show our passion to everyone so more people would see whats F1 all about. Please follow us on Facebook, Twitter and Instagram. <strong>And tell your friends!</strong>
    </p>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <center>
      <div class="col-md-4">
        <h1 class="mega text-center">We</h1>
      </div>
      <div class="col-md-4">
        <h1 class="mega-plus text-center"><i class="fa fa-heart-o" aria-hidden="true"></i></h1>
      </div>
      <div class="col-md-4">
        <h1 class="mega text-center">F1</h1>
      </div>
    </center>
  </div>
  <div class="col-md-12">
    <br>
    <br>
    <div id="triangle-bottomright-yellow">
    </div>
  </div>
</div>
<div class="row bg-yellow p30">
  <div class="col-md-12">
    <h1 class="row-h white-text" style="margin-top:-20px">Team</h1>
  </div>
  <div class="col-md-offset-1 col-md-2">
    <center>
      <h2>Anssi</h2>
      <img class="guy-img" id="guy-img" src="/build/img/guys/anssi.png">
    </center>
  </div>
  <div class="col-md-2">
    <center>
      <h2>Juha</h2>
      <img class="guy-img" id="guy-img" src="/build/img/guys/juha.png">
    </center>
  </div>
  <div class="col-md-2">
    <center>
      <h2>Niko</h2>
      <img class="guy-img" id="guy-img" src="/build/img/guys/niko.png">
    </center>
  </div>
  <div class="col-md-2">
    <center>
      <h2>Nico</h2>
      <img class="guy-img" id="guy-img" src="/build/img/guys/nico.png">
    </center>
  </div>
  <div class="col-md-2">
    <center>
      <h2>Mika</h2>
      <img class="guy-img" id="guy-img" src="/build/img/guys/mika.png">
    </center>
  </div>
</div>
<!-- SHOWCASE-->
<!-- <div class="row bg-dark" style="padding:50px;">

  <div class="col-md-6 col-md-offset-3">
    <h1 class="row-h white-text">Guys</h1>
    <center>
      <div class="well well-lg guy-well">
        <img class="guy-img" id="guy-img" src="">
        <h3 id="guy-name">Nimi</h3>
      </div>
    </center>
  </div>
</div> -->
<!-- GALLERY -->
<div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" id="carousel" role="listbox">
        <h1 class="row-h">Gallery</h1>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="yellow-text glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="yellow-text glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
<!-- CONTACT-->
<div class="row bg-black">
  <div class="col-md-12">
    <h1 class="row-h font-funny text-center">Contact</h1>
  </div>
</div>
</body>

</html>
